body {
  background: url("../media/body-background.jpg") fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Noto Sans JP", sans-serif;
}

.container {
  max-width: 750px;
  margin: 50px auto 10px;
  background-color: #fc5454;
  border: 1mm solid black;
  box-shadow: rgba(0, 0, 0, 0.607) 0px 5px 20px;
}

h1 {
  max-width: 60%;
  display: block;
  margin: 30px auto 0;
  transform: skew(-15deg);
  border: 1mm solid black;
  background: #ffffff;
  text-align: center;
  font-size: 52px;
}

h2 {
  width: 40%;
  margin: 20px auto;
  text-align: center;
  border: 1mm solid black;
  border-right: 2mm solid black;
  border-bottom: 2mm solid black;
  border-radius: 4mm;
  background: #ffffffd8;
  font-size: 46px;
  font-weight: normal;
}

h2 small {
  font-size: 28px;
}

h3 {
  margin: 0;
}

select {
  width: 50%;
  display: block;
  margin: 10px auto 25px;
  padding: 5px;
  border: 0.2mm solid rgb(52, 52, 52);
  border-radius: 1mm;
}

.cities-container {
  max-width: 80%;
  margin: 20px auto 30px;
  padding: 10px 30px;
  border: 0.6mm solid black;
  border-right: 2mm solid black;
  border-bottom: 2mm solid black;
  border-radius: 4mm;
  background-color: rgb(232, 230, 230);
}

.city {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
  border-bottom: 2px dotted rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border-bottom: none;
}

.name {
  font-size: 30px;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 38px;
}

.time small {
  font-size: 18px;
}

footer {
  text-align: center;
  font-size: 14px;
}

footer small {
  font-size: 11px;
}
