:root {
  --border: 1mm solid black;
  --border-shadow: 2mm solid black;
}

body {
  background: url("../media/body-background.jpg") fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Noto Sans JP", sans-serif;
}

.container {
  max-width: 750px;
  margin: 50px auto 10px;
  background: #fc5454;
  border: var(--border);
  box-shadow: #0000009b 0px 5px 20px;
}

h1,
h2 {
  border: var(--border);
  border-right: var(--border-shadow);
  border-bottom: var(--border-shadow);
  text-align: center;
}

h1 {
  max-width: 60%;
  display: block;
  margin: 30px auto 0;
  background: #ffffff;
  transform: skew(-13deg);
  font-size: 52px;
}

h2 {
  width: 40%;
  margin: 20px auto;
  background: #ffffffd8;
  border-radius: 4mm;
  font-size: 46px;
  font-weight: normal;
}

h2 small {
  font-size: 28px;
}

select {
  width: 50%;
  display: block;
  margin: 10px auto 25px;
  padding: 5px;
  border: 0.2mm solid #343434;
  border-radius: 1mm;
  font-family: "Noto Sans JP", sans-serif;
}

.cities-container {
  max-width: 80%;
  margin: 20px auto 30px;
  padding: 10px 30px;
  background: #e8e6e6;
  border: 0.6mm solid black;
  border-right: var(--border-shadow);
  border-bottom: var(--border-shadow);
  border-radius: 4mm;
}

.city {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
  border-bottom: 2px dotted #00000033;
}

.city:last-child {
  border-bottom: none;
}

.name {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 38px;
}

.time small {
  font-size: 18px;
}

#back-link {
  margin-top: 10px;
  margin-left: 10px;
}

footer {
  text-align: center;
  font-size: 14px;
}

@media (max-width: 791px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 42px;
  }

  h2 small {
    font-size: 26px;
  }

  .name {
    font-size: 26px;
  }

  .date {
    font-size: 15px;
  }

  .time {
    font-size: 34px;
  }

  footer {
    font-size: 12px;
  }
}

@media (max-width: 650px) {
  .container {
    margin-top: 35px;
  }

  h1 {
    border: 0.5mm solid black;
    border-right: var(--border);
    border-bottom: var(--border);
    font-size: 40px;
  }

  h2 {
    border: 0.5mm solid black;
    border-right: var(--border);
    border-bottom: var(--border);
    font-size: 32px;
  }

  h2 small {
    font-size: 22px;
  }

  .cities-container {
    padding: 5px 25px;
    border: 0.5mm solid black;
    border-right: var(--border);
    border-bottom: var(--border);
  }

  .name {
    font-size: 24px;
  }

  .date {
    font-size: 14px;
  }

  .time {
    font-size: 32px;
  }
}

@media (max-width: 470px) {
  .container {
    margin-top: 20px;
    border: 0.5mm solid black;
  }

  h1 {
    margin-top: 25px;
    border: 0.5mm solid black;
    border-right: var(--border);
    border-bottom: var(--border);
    font-size: 38px;
  }

  h2,
  .time {
    font-size: 30px;
  }

  h2 {
    border: 0.5mm solid black;
    border-right: var(--border);
    border-bottom: var(--border);
  }

  h2 small {
    font-size: 18px;
  }

  #cities-select {
    font-size: 14px;
  }

  .cities-container {
    padding: 5px 20px;
    border: 0.5mm solid black;
    border-right: var(--border);
    border-bottom: var(--border);
  }

  .name {
    font-size: 24px;
  }

  .date,
  footer {
    font-size: 12px;
  }
}